* {
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    box-sizing: border-box;
}

form {
    border: solid .2rem black;
    border-radius: .5rem;
    padding: 1rem;
    background-color: ivory;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

fieldset {
    display: block;
    width: 80%;
    border: none;
    margin: auto;
}

fieldset label, fieldset textarea, fieldset button {
    width: 100%;
    border: solid 1px black;
    border-radius: .2rem;
    margin: auto;
    padding: .3rem;
    display: block;
}

label {
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    background-color: black;
}

button.update {
    background-color: greenyellow;
    border: solid .2rem lawngreen !important;
}

button.update:hover {
    background-color: lawngreen;
}

button.back {
    background-color: lightcyan;
    border: solid .2rem lightskyblue !important;
}

button.back:hover {
    background-color: lightskyblue;
}
